# Compiled class file
*.class

# idea
.idea/
*.iml

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.zip
*.tar.gz
*.rar

# References
*.pdf

# Data 
*.txt
*.csv
*.bin
*.xls
*.xlsx